<div id="etym-container">
<% provide(:title, @etymology.headword) %>
<% @words = @etymology.words.to_a %>
<h1><%= @etymology.headword %></h1>
<h2><%= @etymology.language.name %></h2>
<div id='overview'>
	<% @words.each do |word| %>
		<div class='entry'>
			<%= content_tag(:span, word.content, class: 'content') %>
			<%= content_tag(:span, word.language.name, class: 'lang') %>
		</div>
	<% end %>
</div>
<div id='closeups'>
	<% (0...@words.length-1).to_a.each do |i| %>
		<div class='entry' style='display:none' >
			<% arr = s_matcher(@words[i][:content], @words[i+1][:content]) %>
			<% arr.each do |hash|%>
			<% concat content_tag(:span, hash.values.first, class: hash.keys.first.to_s.gsub("_","-")) %>
			<% end %>
		</div>
	<% end %>
</div>
<div id='languages'>
	<div class='holder'>
		<div class='spacer'></div>
		<% @words.each do |word| %>
			<div class='entry'>
				<%= word.language.name %>
			</div>
		<% end %>
		<div class='spacer'></div>
	</div>
</div>
<script>
	etymator.init(
		<%= @words.length %>,
		1000
	);
</script>
</div>
